<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevalpatel2106.yip">

    <application android:name=".ReleaseApplication">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <!--Enable firebase analytics-->
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />
    </application>

</manifest>
