<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevalpatel2106.yip">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- GoogleTV support -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <application
        android:name=".YIPApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/YipTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--https://goo.gl/uuZP9Z-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/YipTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/app_shortcuts" />
        </activity>
        <activity android:name=".edit.EditDeadlineActivity" />
        <activity android:name=".payment.PaymentActivity" />
        <activity android:name=".webviews.WebViewActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:launchMode="singleInstance"
            android:theme="@style/YipTheme.Dashboard" />

        <receiver android:name=".widget.DeadlineListWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_deadline_list" />
        </receiver>
        <receiver android:name=".utils.SysEventsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notifications.DeadlineNotificationReceiver" />

        <service
            android:name=".widget.DeadlineListRemoteService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>
